/node_modules
/.idea
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/public/dist
/public/build
/public/mix-manifest.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
*.code-workspace
storage/
bootstrap/cache/

docker-compose.yml
docker/
package-lock.json
composer.lock
public/js/app.js
v8-compile-cache-0/

makefile
composer.phar
/docker
/public/images/img