// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// vue-multiselect
@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import "components/pages-styles";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.price-currency-wrap {
  position: relative;
  .price-input {
    padding-left: 40px !important;
  }
  .price-currency {
    color: #999 !important;
    content: "£";
    font-size: 16px !important;
    font-weight: 400;
    position: absolute;
    top: 18px;
    left: 24px;
  }
}
