
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// vue-multiselect
@import '~vue-multiselect/dist/vue-multiselect.min.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.headernew {
  .headingcenter > div {
    font-family: ArbutusSlabRegular, 'Segoe UI', Tahoma, sans-serif;
    font-size: 22px;
  }
  .headingcenter h2 {
    font-size: 32px;
    text-transform: none;
    font-family: AvertaExtraBold, 'Segoe UI', Tahoma, sans-serif;
  }
}
.headernew {
  //background: linear-gradient(to right,#dbcafe, #9bcdfc);
  background: url("top_bg.png") center center;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-size: 100% 100%;
}


#homenew {
  background: url("middle_bg.png") center bottom !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-size: contain !important;
  margin-bottom: -35px;
  margin-top: -20%;
  padding: 0;
  position: relative;
  bottom: 0;
  height: 100% !important;
}

.wt-main {
  background-color: transparent !important;
}
@media (min-width: 858px) {
  .headernew-second {
    margin:0 auto;
    width: 850px;
    padding-bottom: 150px;
  }
}

@media (max-width: 857px) {
  .headernew-second {
    margin:0 auto;
    width: 100%;
    padding-bottom: 150px;
  }
}
.wt-wrapper {
  background-color: transparent !important;
}
.footerCopyright {
  background: transparent !important;
  width: 100%;
  font-size: 15px !important;
  padding: 15px !important;
}
.wt-footer {
  background: transparent !important;
  background: url("footer_bg.png") center center !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-size: 100% 100% !important;
  bottom: 0;
  position: relative;
}

.boxes3 {
  border-radius: 15px 15px 0 0;
}

.loginbtnHome {
  margin: 3px;
}

.signupBtn a {
  color: white;
  background-color: #2a3b65;
  padding: 9px 20px;
  text-align: center;
}
.logo-block img {
  content:url("logo-3.png");
  width: 182px;
  height: 75px;
}

#newmenu li {
  font-size: 18px;
}
.mainhomeMenu {
  width: 70%;
}

.footermargins {
  text-align: center;
  margin-top: 30%;
  margin-bottom: 0;
}
.logo-small-text > small {
  color: #232f3e;
}