.ml-10 {
  margin-left: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.m-0 {
  margin: 0px !important;
}
.m-10 {
  margin: 10px !important;
}
.p-0 {
  padding: 0px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.w-100 {
  width: 100% !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fw-bold {
  font-weight: bold !important;
}
.flex-row {
  display: flex !important;
  flex-direction: row !important;
}
.align-items-center {
  align-items: center !important;
}
.color-grey {
  color: #a9a9a9 !important;
}
.form-group {
  padding: 0 10px;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.flex-column {
  display: flex !important;
  flex-direction: column !important;
}
.avatar-sm {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.multiselect {
  height: auto !important;
}
.cs-file-upload {
  position: relative;
  input[type="file"] {
    padding-right: 36px;
  }
  .cs-file-upload-remove {
    display: none;
    position: absolute;
    right: 12px;
    transform: translate(0, 50%);
  }
}
.price-currency-wrap {
  position: relative;
  .price-input {
    padding-left: 40px !important;
  }
  .price-currency {
    color: #999 !important;
    content: "£";
    font-size: 16px !important;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 24px;
  }
}
.content-public-profile__main-content-description {
  white-space: pre-line;
}
.form-group {
  .help-block {
    strong {
      color: #e3342f;
    }
  }
}
.error-msg {
  color: #ff5851;
  display: none;
}
.searchinputs {
  .invalid-search-field {
    color: #ff5851;
  }
}
.booking_hired {
  background-color: #ffbf00 !important;
}
.wt-disableinfo {
  background: #fccf17;
}
.wt-navdashboard {
  > ul {
    padding-left: 45px;
    > li {
      margin-left: 0px !important;
      > a {
        > i {
          width: unset !important;
          margin-right: 10px !important;
        }
      }
      &.menu-item-has-children {
        .wt-dropdowarrow {
          top: 5px !important;
        }
        .sub-menu {
          margin-left: 40px !important;
          > li {
            margin-left: 0px !important;
            line-height: 30px !important;
          }
        }
      }
    }
  }
}
#searchHomePage {
  &.search {
    .searchinputs {
      > div.filters {
        width: 13.5%;
      }
    }
    .timepicker {
      input.display-time {
        border: none;
        width: 74%;
        font-size: 12px;
        padding: 0px 7px;
        font-weight: 300;
      }
    }
  }
}
#user_profile {
  .wt-userform {
    fieldset {
      overflow: unset;
    }
  }
}
.wt-offersmessages {
  > ul {
    > li:first-child {
      .chat-users-container {
        .chat-users-list {
          max-height: 640px;
        }
      }
    }
    > li:last-child {
      min-height: 690px;
      .wt-chatarea-empty {
        padding: 219px 0px;
      }
      .messages-container {
        height: 520px !important;
      }
    }
  }
}
