/* ==========================================================================
Footer
========================================================================== */
body.wt-login:not(.register-body) {
  .short-footer {
    position: relative;
  }

}

.short-footer {
  margin-left: 0px;
  margin-right: 0px;

  position: absolute;
  bottom: -3px;
  width: 100%;

  .short-footer-cards {
    z-index: 1;
    //margin-top: -350px;

    .short-footer-cards-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
    }

    .footer-cards__item {
      width: 350px;
      height: 305px;
      border-radius: 15px;
      background-color: #fbd246;
      padding: 32px 48px 32px 60px;
      display: flex;
      flex-direction: column;

      @media (max-width: 955px) {
        padding: 20px 34px;
        width: 200px;
      }
      @media (max-width: 456px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 160px;
      }

      &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 955px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      &-blue {
        height: 330px;
        border-radius: 17px;
        background-color: #6898c4;
        padding-top: 55px;
        @media (max-width: 955px) {
          padding-top: 43px;
        }
      }
      &-green {
        background-color: #38b390;
      }

      &-title {
        color: $color__text-white;
        font-size: 22px;
        text-transform: uppercase;
        font-family: Grotesk;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 955px) {
          align-items: center;
        }

        span {
          margin-bottom: 4px;
          @media (max-width: 955px) {
            margin-bottom: 2px;
            font-size: 18px;
          }
        }
      }

      &-img {
        margin-top: 11px;
        @media (max-width: 955px) {
          margin-top: 20px;
        }
      }
      &-img-yellow, &-img-blue {
        height: 88px;
        @media (max-width: 955px) {
          height: 40px;
        }
      }
      &-img-green {
        height: 96px;
        @media (max-width: 955px) {
          height: 40px;
        }
      }

      p {
        width: 100%;
        text-align: justify;
        color: $color__text-white;
        margin-top: 15px;
        font-size: 8pt;
        line-height: normal;
        font-family: LucidaGrandeRegular;
      }
    }
  }

  .footer-arc {
    margin-top: -81px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background-image: url(/images/img/index-main/footer-arc.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 90px;
    background-position: bottom center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .short-footer-arc-social-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &-social {
      margin-left: 9px;
      margin-right: 9px;
      &-last {
        margin-right: 23px;
      }
    }

    .footer-copyright {
      padding-top: 45px;
      color: $color__text-white;
      font-size: 10px;
      line-height: normal;
      font-family: AganeRegular;

      @media (max-width: 640px) {
        padding-top: 45px;
      }
    }
  }
}
