@font-face {
    font-family: ArbutusSlabRegular;
    src: url("webfonts/arbutusslab-regular.ttf") format("truetype");
}

@font-face {
    font-family: AvertaBold;
    font-weight: 900;
    src: url("webfonts/AvertaDemoPE-ExtraboldItalic.otf") format("truetype");
}

@font-face {
    font-family: AmericanTypewriterRegular;
    src: url("webfonts/American Typewriter Regular.ttf") format("truetype");
}
@font-face {
    font-family: AvenirNext;
    src: url("webfonts/AvenirNextLTPro-Regular.otf") format("opentype");

}

@font-face {
    font-family: Vision;
    src: url("webfonts/Vision.otf") format("opentype");
}



body{
    color: #232f3e;
}
#newmenu li {
    list-style-type: none;
    display: inline-block;
    padding:14px 22px;
    text-transform: uppercase;
    font-style: italic;
    font-size:17px;
    font-weight: bolder;
    font-family: AvertaBold, 'Segoe UI', Tahoma, sans-serif;;

}
#newmenu li a {
    color:#232f3e;

}
.active-menu-li{
    color:white !important;
    border-bottom: 3px solid black;
}
.headernew {
    background-color: #fccf17;
}

.telno
{
    padding:20px 10px;
    font-style: italic;
    font-size:20px;
    font-family: AvertaBold, 'Segoe UI', Tahoma, sans-serif;;
    text-transform: uppercase;
    color:#232f3e;


}
.headingcenter {
    margin:0 auto;

}
.headingcenter h2 {
    font-style: italic;
    margin-top:19px;
    font-size: 41px;
    line-height: 52px;
    text-transform: none;
    font-family: AvertaBold, 'Segoe UI', Tahoma, sans-serif;;
    font-weight: bolder;
    margin-bottom: -10px;

}
.headingcenter > div {
    text-align: right;
    font-family: ArbutusSlabRegular, 'Segoe UI', Tahoma, sans-serif;;
    height: 55px;
}
#homenew{
    background-image: url("../images/imgdoctor.jpg");
    background-size: 100%;
}
.searchboxnew{
    padding:0px 10px 0px 50px;
    background-color: #232f3e;
    border-top-left-radius: 46px;
    border-bottom-right-radius: 46px;
    margin:48px auto;

}
.searchboxnew input {
    background: transparent;
    border: none;
    color:#fccb16;
    text-align: center;
    font-size:25px;
    font-family: AmericanTypewriterRegular;
    width: 90%;
}
.categorysearch{
    background-color: white;
    color: #232f3e;
    width: 10%;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    height: 34px;
    padding: 0px 11px;
    font-weight: bolder;
    -webkit-appearance: none;
    appearance: none;
}
.categorysearch::-ms-expand {
    display: none;
}
.searchboxnew div {
    display: inline-block;
}
.searchicon{
    color:#fccb16;
    font-size: 20px;
}
.simpletext{
    margin:189px auto 0px auto;
    color:white;
    text-align: center;
    font-family: AvertaBold;
}
.simpletext div a{
    font-size:40px;

}
.simpletext div a, .simpletext div span {
    color:white;
    font-style:italic;
    font-weight: bolder;
    font-family: AvertaBold, 'Segoe UI', Tahoma, sans-serif;;
}
.footer-menu{
    margin:40px auto;
    text-align: center;
}
.footer-menu ul{
    list-style-type: nonde;
}
.footer-menu ul li{
    list-style-type: none;
    display: inline-block; padding:0px 40px;
    text-transform: uppercase;font-style:italic;
    font-weight: bolder;
    font-family: Vision, 'Segoe UI', Tahoma, sans-serif;;
    color:#fccb16;
    font-size:14px;


}
.footer-menu ul li a{
    margin-right: 5px;
}

.footerCopyright
{
    text-align: center;
    margin: -48px auto;
    padding: 10px 20px 0px 20px;
    border-radius: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/copyrightBack.png);
    font-family: AvenirNext;
    font-size: 8px;
}

