@font-face {
    font-family: ArbutusSlabRegular;
    src: url("webfonts/arbutusslab-regular.ttf") format("truetype");
}

@font-face {
    font-family: AvertaBold;
    font-weight: 900;
    src: url("webfonts/FontsFree-Net-AvertaDemoPE-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: AvertaExtraBold;
    src: url("webfonts/AvertaDemoPE-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: AmericanTypewriterRegular;
    src: url("webfonts/American Typewriter Regular.ttf") format("truetype");
}
@font-face {
    font-family: AvenirNext;
    src: url("webfonts/AvenirNextLTPro-Regular.otf") format("opentype");

}

@font-face {
    font-family: Vision;
    src: url("webfonts/Vision.otf") format("opentype");
}

@font-face {
    font-family: Grotesk;
    src: url("webfonts/MADE GoodTime Grotesk PERSONAL USE.otf") format("opentype");
}
@font-face {
    font-family: LucidaGrandeRegular;
    src: url("webfonts/911Fonts.com_LucidaGrandeRegular__-_911fonts.com_fonts_ynWe.ttf") format("truetype");
}
@font-face {
    font-family: AgendaLight;
    src: url("webfonts/Agenda Light Regular.otf") format("opentype");
}



body{
    color: #232f3e;
}
.mainhomeMenu{
    margin-top: 10px;
    width:57%;
    position: absolute;
    right: 0px;
}
#newmenu li {
    width: 24%;
    list-style-type: none;
    display: inline-block;
    padding: 14px 22px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: AgendaLight;
    height: 100%;
    text-align: center;
    vertical-align: top;
    border-right:1px solid #e8e7a7;
    line-height: 15px;
    height: 60px;



}
#newmenu li a {
    color:white;
    text-align: center;


}
.active-menu-li{
    color:white !important;
    border-bottom: 3px solid black;
}
.headernew {
    background-color: #fcd133;
}

.telno
{
    padding:20px 10px;
    font-size:20px;
    font-family: AvertaBold, 'Segoe UI', Tahoma, sans-serif;;
    text-transform: uppercase;
    color:#232f3e;


}
.headingcenter {
    max-width: 750px;
    display: inline-block;

}

.signupBtn {
    display: inline-block;
    padding: 57px 0px 0px 15px;
}
.signupBtn a{
    color: white;
    background-color: #2a3b65 ;
    padding: 5px 20px;
    text-align: center;
}

.headingcenter h2 {
    /*font-style: italic;*/
    margin-top:19px;
    font-size: 32px;
    line-height: 33px;
    text-transform: none;
    font-family: AvertaExtraBold, 'Segoe UI', Tahoma, sans-serif;;
    font-weight: bolder;
    margin-bottom: -10px;


}
.headingcenter > div {
    text-align: center;
    font-family: ArbutusSlabRegular, 'Segoe UI', Tahoma, sans-serif;;
    height: 55px;
    margin-right: -10px;
    margin-top: 10px;
    color:white;
    line-height: normal;
}
#homenew{
    background-repeat: no-repeat;
    background-image: url("../images/imgdoctor.jpg");
    background-size: 100%;

}
.searchboxnew{
    padding: 0px 10px 0px 50px;
    background-color: #171c22;
    border-top-left-radius: 46px;
    border-bottom-right-radius: 46px;
    opacity: 0.9;
    margin: 48px auto;

}
.searchboxnew input {
    background: transparent;
    border: none;
    color:#fccb16;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    font-family: AmericanTypewriterRegular;
    width: 90%;
}
.categorysearch{
    background-color: white;
    color: #232f3e;
    width: 10%;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-family: AmericanTypewriterRegular;
    height: 34px;
    padding: 0px 11px;
    font-weight: bolder;
    -webkit-appearance: none;
    appearance: none;
}
.categorysearch::-ms-expand {
    display: none;
}
.searchboxnew div {
    display: inline-block;
}
.searchicon{
    color:#fccb16;
    font-size: 20px;
}
.simpletext{
    margin:189px auto 0px auto;
    color:white;
    text-align: center;
    font-family: AvertaBold;
}
.simpletext div a{
    font-size:40px;

}
.simpletext div a, .simpletext div span {
    color:white;
    font-weight: bolder;
    font-family: AvertaBold, 'Segoe UI', Tahoma, sans-serif;;
}
.footer-menu{
    margin:40px auto;
    text-align: center;
}
.footer-menu ul{
    list-style-type: nonde;
}
.footer-menu ul li{
    list-style-type: none;
    display: inline-block; padding:0px 40px;
    text-transform: uppercase;font-style:italic;
    font-weight: bolder;
    font-family: Vision, 'Segoe UI', Tahoma, sans-serif;;
    color:#fccb16;
    font-size:14px;


}
 ul li a{
    margin-right: 5px;
}

.footerCopyright
{
    text-align: center;
    margin: -30px auto;
    padding: 10px 20px 0px 20px;
    border-radius: 30px;
    color:white;
    height: 40px;
    /*background-repeat: no-repeat;*/
    /*background-image: url(../images/copyrightBack.png);*/
    /*background-position: top;*/
    font-family: AvenirNext;
    font-size: 8px;
}

.boxes3{
    width: 20%;
    height: 247px;
    text-align: center;
    display: inline-block;
    color: white;
    padding:30px 40px;
    vertical-align: bottom;
}

.bg-orange{
    background-color: rgba(252, 209, 51, .9 );

}

.bg-blue{
    background-color:  rgba(61, 80, 120, .9 );

}

.bg-green{
    background-color: rgba(51, 204, 153, .9 );

}
.boxheading{
    float: left;
    font-size: 16pt;
    text-transform: uppercase;
    font-family: Grotesk;


}
.boxes3 p{
    margin-top: 15px;
    font-size: 8pt;
    line-height: normal;
    font-family: LucidaGrandeRegular;
    text-align: left;
}

.search{
    max-width:750px;

    position: absolute;
    bottom: -43px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.searchtop div {
    display: inline-block;
    padding: 12px 0px;
    font-weight: bold;
}
.searchtype{
    width:24%;
    text-align: center;
    border-radius: 2px;
    color:white;
    background-color: #fcc815;
    cursor: pointer;

}
.searchactive{
    background-color: #2a3b65 !important;
}

.searchbtn{
    float:right;
}
.searchbtn button{
    color:white;
    background-color: #38b390;
    border-radius: 2px;
    width:80px;
    text-align: center;
}

.searchinputs{
    background-color: white;
    color: #2a3b65;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.searchinputs > div {
    padding-top:15px;
    font-weight: bold;
    font-size:15px;
    display: inline-block;
    width:24%;
    border-right:1px solid lightgray;
    text-align: center;
}

.filters input {
    border:none;
    width:74%;
    font-size: 12px;
    padding: 0px 7px;
    font-weight: 300;
}

.wt-main{
    background-color:#2a3b65 ;
}