.index-main {
  background-color: white;
}

.index-main .header-wrapper {
  height: 655px;
  background-image: url(./images/img/index-main/header-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;
}

.index-main-container {
  max-width: $container__wide-width;
  margin: 0 auto;
  border: 1px solid red;
}

.header__container {
  margin-left: 160px;
  margin-right: 153px;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 1199px) {
    margin-left: 100px;
    margin-right: 90px;
  }
  @media (max-width: 992px) {
    margin-left: 60px;
    margin-right: 55px;
  }
}

.index-main .header {
  min-height: 135px;
  border: 1px solid black;

  &-logo__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-logo__img {
    width: 100%;
  }
  &-logo__slogan {
    font-weight: 400;
    color: $color__text-black;
    font-family:  ArbutusSlabRegular, 'Segoe UI', Tahoma, sans-serif;
    font-size: 14px;
  }

  &-navigation {
    max-width: 165px;
    width: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__menu-item {
      text-decoration: none;
      font-size: 14px;
      color: $color__text-white;
      text-transform: uppercase;
      font-family: AgendaLight;
      display: block;

    }
  }

}

.index-main .hero {
  border: 1px solid red;

  &__wrapper {
    max-width: 803px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: 33px;
    line-height: 33px;
    font-family: AvertaExtraBold;
    font-weight: bolder;
    color: $color__text-dark-blue;
    @media (max-width: 1620px) {
      margin-top: 15px;
    }
  }

  &__experience {
    margin-top: 40px;
    font-size: 26px;
    line-height: 33px;
    font-family: ArbutusSlabRegular;
    font-weight: bolder;
    color: $color__text-white;

    @media (max-width: 1620px) {
      margin-top: 15px;
    }
  }

  &__buttons {
    margin-top: 90px;
    a {
      text-decoration: none;
    }
    &-signup-link {
      margin-left: -4px;
    }
    &-login, &-signup {
      background-color: $color__background-light-gray;
      padding: 10px 14px;
      width: 120px;
      border: none;
      color: $color__text-white;
      font-size: 18px;
      font-weight: bolder;
      font-family: ArbutusSlabRegular;
    }
    &-signup {
      background-color: $color__background-dark-blue;
    }

    @media (max-width: 1620px) {
      margin-top: 60px;
    }
  }
}