.dashboard-pages-body .header-main-footer-wrapper {
  background-color: $color__background-white;
  background-image: none;
}

body.register-body.dashboard-pages-body .header-main-footer-wrapper .main-wrapper {
  background-image: url(/images/img/public-profile/doctor3.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom;
  background-color: transparent;
  background-size: 50% auto;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    background-size: 65% auto;
  }
  @media (max-width: 480px) {
    background-size: 80% auto;
  }
}

body.register-body.dashboard-pages-body .short-footer .footer-arc {
  z-index: 50;

  @media (max-width: 480px) {
    .footer-arc-social-wrapper {
      opacity: 0;
    }
  }
}

/* ==========================================================================
Calendar
========================================================================== */
.month-view {
  .vuecal__cell {
    height: 80px;
  }

  .vuecal__cell-content {
    justify-content: flex-start;
    height: 100%;
    align-items: flex-end;
  }

  .vuecal__cell-events {
    max-height: 30px;
    overflow-y: hidden;
    &:hover {
      max-height: unset;
      overflow-y: auto;
    }
  }
}

.dashboard-pages-body .dashboard-vuecal-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: $color__background-white;
  @media (max-width: 1199px) {
    width: 100%;
  }
}

.dashboard-pages-body .post_job_dashboard-wrapper {
  width: 100%;
}

.dashboard-pages-body .dashboard-vuecal-wrapper-employer,
.dashboard-pages-body .dashboard-vuecal-wrapper
{
  margin: 0 auto;
}

.dashboard-pages-body .newStyleBoxes {
  display: flex!important;
  margin: 0!important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  .newBoxStyle {
    @media (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  .newStyleBoxesWrapper {
    @media (max-width: 1199px) {
      display: flex!important;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.dashboard-pages-body .dashboard-wt-tabscontent-wrapper {
  margin-right: 0;
  margin-left: 0;
}