@import "violet-main";

body.register-body .header-main-footer-wrapper {
  .main-wrapper, .main-wrapper.main-wrapper-register-1 {
    overflow: auto;
    padding-bottom: 270px;
    background-image: url(/images/img/index-main/doctor1.png), url(/images/img/index-main/doctor2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left -48px bottom, right bottom;
    background-size: auto 510px;
    background-color: transparent;

    @media (max-width: 620px) {
      background-image: url(/images/img/index-main/doctor1.png);
      background-repeat: no-repeat, no-repeat;
      background-position: left -48px bottom;
    }
  }

  .main-wrapper.main-wrapper-register-2 {
    background-image: url(/images/img/registration/bkg2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom;

    @media (max-width: 620px) {
      background-image: url(/images/img/index-main/doctor1.png);
      background-repeat: no-repeat, no-repeat;
      background-position: left -48px bottom;
    }
  }

  .main-wrapper.main-wrapper-register-3 {
    background-image: url(/images/img/registration/bkg3.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom;

    @media (max-width: 620px) {
      background-image: url(/images/img/index-main/doctor1.png);
      background-repeat: no-repeat, no-repeat;
      background-position: left -48px bottom;
    }
  }

  .main-wrapper.main-wrapper-register-4 {
    background-image: url(/images/img/registration/bkg4.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom;

    @media (max-width: 620px) {
      background-image: url(/images/img/index-main/doctor1.png);
      background-repeat: no-repeat, no-repeat;
      background-position: left -48px bottom;
    }
  }
}