/* ==========================================================================
Main
========================================================================== */

ul.wt-joinsteps {
  & li div {
    display: none;
  }
  //registration steps
  /*

    li {
      padding: 0 14px;
    }

    & li:before {
      width: 100%;
      content: '';
      top: calc(50% - 4px);
      left: -54px;
      height: 10px;
      margin-top: -1px;
      position: absolute;
      background: #dddddd;
      z-index: 3;
    }

    & li:first-child::before,
    & li.wt-active:last-child:after,
    & li.wt-done-next a {
      background: #a2b1d8;
    }
    & li:last-child::after {
      width: 100%;
      content: '';
      top: calc(50% - 4px);
      left: 50px;
      height: 10px;
      margin-top: -1px;
      background: #ddd;
      position: absolute;
      z-index: 2;
    }
    & li div {
      position: absolute;
      left: -30px;
      right: -30px;
    }
    & li a {
      color: #fff;
      font: 700 25px/36px 'Poppins', Arial, Helvetica, sans-serif;
      background: #ddd;
    }
    & .wt-active a,
    & li.wt-done-next a {
      background: #a2b1d8;
      border-color: #a2b1d8 !important;
      color: #fff !important;
    }
    & .wt-active:before,
    & li.wt-done-next:before {
      background: #a2b1d8;
    }
  */
}
